name: My CI/CD

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: orders-dispatch-and-go/gruzowiki-auth

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Create environment file
      run: |
        cat > .env << EOF
        AUTH_PG_HOST=${{ secrets.AUTH_PG_HOST }}
        AUTH_PG_PORT=${{ secrets.AUTH_PG_PORT }}
        AUTH_PG_DATABASE=${{ secrets.AUTH_PG_DATABASE }}
        AUTH_PG_USER=${{ secrets.AUTH_PG_USER }}
        AUTH_PG_PASSWORD=${{ secrets.AUTH_PG_PASSWORD }}
        AUTH_SERVICE_PORT=${{ secrets.AUTH_SERVICE_PORT }}
        TRANSPORTATION_SERVICE_URL=${{ secrets.TRANSPORTATION_SERVICE_URL}}
        EOF

    - name: Log in to Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=sha,prefix={{branch}}-
          type=raw,value=latest,enable={{is_default_branch}}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/main' && always()

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Copy files to server
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.DEPLOY_HOST }}
        username: ${{ secrets.DEPLOY_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "docker-compose.yml,src/main/resources/migrations,src/main/resources/keys"
        target: "/home/${{ secrets.DEPLOY_USER }}/gruzowiki-auth/"

    - name: Deploy to prod server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.DEPLOY_HOST }}
        username: ${{ secrets.DEPLOY_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /home/${{ secrets.DEPLOY_USER }}/gruzowiki-auth
          
          sed -i 's|build:|# build:|g' docker-compose.yml
          sed -i 's|dockerfile: Dockerfile|# dockerfile: Dockerfile|g' docker-compose.yml

          cat > .env << EOF
          AUTH_PG_HOST=auth_db_postgres
          AUTH_PG_PORT=5432
          AUTH_PG_DATABASE=${{ secrets.AUTH_PG_DATABASE }}
          AUTH_PG_USER=${{ secrets.AUTH_PG_USER }}
          AUTH_PG_PASSWORD=${{ secrets.AUTH_PG_PASSWORD }}
          AUTH_SERVICE_PORT=${{ secrets.AUTH_SERVICE_PORT }}
          TRANSPORTATION_SERVICE_URL=${{ secrets.TRANSPORTATION_SERVICE_URL}}
          EOF
          
          docker network create gruzowiki-network 2>/dev/null || true

          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          docker compose pull

          docker compose up -d 
